body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0%;
}
h1{
    font-size: 45px;
}
.komola{
    color: orange;
}
.helf{
    width: 40%;
    
    float: left;
}
.helf img{
    width: 60%;
    border-radius: 900px;
    border: 20px solid orange;
    margin-left: 200px;
}
.helf2 img{
    width: 100%;
    border-radius: 900px;
    border: 20px solid orange;
}
.helf2{
    width: 40%;
    float: left;
    margin-left: 150px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 200px;
  
}
div{
    margin: 40px;
}
.link-buttan{
    background-color: orange;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
}
P{
    color: dimgray;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.last-area{
    margin-left: 50px;
    font-size: 25px;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.box{
    box-shadow: 10px 10px 25px gray;
    border-radius: 8px;
    height: 80%;
    padding: 20px;   
}
#side-line{
    border-left: 8px solid blueviolet;
}
#side-line2{
    border-left: 8px solid rgb(189, 74, 8);
}
footer{
    text-align: center;
    color: gray;
}