body{
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 45px;
}
.komola{
    color: orange;
}
.helf{
    width: 40%;
    float: left;
}
.helf img{
    width: 100%;
    border-radius: 900px;
    margin: 5px 1px 5px 200px;
    height: 400;
}